body{
    width: 95%;
    min-height: 95vh;
    display: flex;
    align-items: center;
    background: url(H9lfhGZjSheVIntfeeUJ0AdOJe0NAxYPak65wlYnt78.webp)no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }
    form{
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-50  -50);
    width: 600px;
    height: 300px;
    background: rgba(0, 0, 0, 0.527);
    border-radius: 15px;
    box-sizing: border-box;
    }
    
    h2{
    color: rgb(7, 205, 255);
    text-align: center;
    margin-top: 2%;
    }
        input[placeholder="Gmail Or Phone number"]{ 
        position: absolute;
        outline: none;
        border: none;
        width: 300px;
        height: 35px;
        border-bottom: 2px solid#f1e42e;
        background: none;
        padding: 5px;
        color: rgb(255, 255, 255);
        }
        input[placeholder="Gmail Or Phone number"]{
        top: 110px;
        left: 150px;
        text-align: center;
        }
    ::placeholder{
        color: #fff;
    }
    input[value="Send"]{
    position: absolute;
    top: 250px;
    left: 245px;
    width: 130px;
    height: 35px;
    background: #0094ff;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 15px;
    font-size: 20px;
    }
    input[value="Send"]:hover{
    background: #fff;
    color: #0077ff;
    }
